{!-- Molecule: Content Card --}
{!-- Usage: {embed="_global_partials/com_card" title="Model Name" image="image_url"} content here {/embed} --}
<article class="card cursor-pointer hover:shadow-lg transition-shadow duration-200"
         onclick="openSlidePanel('{title}', `{embed:inner_content}`, '{if image}{image}{/if}')">
  
    <div class="card-image">  
        {if image}
            <img src="{image}" alt="{if image_alt}{image_alt}{if:else}{title}{/if}" class="card-image">
        {/if}
    </div>
    <div class="card-content">

        {if title}
            {model}
        {/if}
        
        <div class="card-body">
            {embed:inner_content}
        </div>
    
    </div>
</article>