{layout='layouts/_default-layout'}
<div class="max-w-md mx-auto mt-8 bg-white p-8 rounded-lg shadow-md">
  <h1 class="text-2xl font-bold text-gray-800 mb-6">
    HAVEE MEUBELEN beeldbank
  </h1>

  {if logged_out} {exp:member:login_form return="/"
  error_handling="inline" }

  <div class="mb-4">
    <label for="username" class="form-label">
      Gebruikersnaam of e-mail
    </label>
    <input
      type="text"
      name="username"
      id="username"
      required
      class="form-input"
    />
  </div>

  <div class="mb-4">
    <label for="password" class="form-label">
      Wachtwoord
    </label>
    <input
      type="password"
      name="password"
      id="password"
      required
      class="form-input" 
    />
  </div>

  <div class="mb-6 flex items-center justify-between">
    <label class="flex items-center ">
      <input
        type="checkbox"
        name="remember_me"
        value="1"
        class="form-checkbox"
      />
      <span class="ml-2 text-sm text-gray-600">Onthoud mij</span>
    </label>
    <a href="{path:login/wachtwoord-vergeten}" class="text-slate-400 hover:text-slate-800 text-sm"
      >Wachtwoord vergeten?</a>
  </div>

  {if errors}
  <div class="bg-red-50 border border-red-200 rounded-md p-4 mb-6">
    <div class="flex">
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800">
          Er zijn fouten opgetreden:
        </h3>
        <div class="mt-2 text-sm text-red-700">
          {errors}
          <p class="mt-1">{error}</p>
          {/errors}
        </div>
      </div>
    </div>
  </div>
  {/if}

  <button
    type="submit"
    class="btn-primary"
  >
    Inloggen
  </button>

  {/exp:member:login_form} {/if} {if logged_in}
  <div class="text-center">
    <p class="text-green-600 mb-4">Je bent al ingelogd.</p>
    {exp:member:logout_form return="user/login"}
    <input type="submit" value="Logout">
    {/exp:member:logout_form}
  </div>
  {/if}
</div>
